extends layout

block content 
    h1 Welcome to the Summary Quote Page!!
    p You are logged in as #{user.username}
    table#DataGrid.table
      tr
        th PO#
        th Origin
        th Delivery
        th Price
        th MPG
        th Distance
        th Gas Cost
        th PPM
        th Gallons
        th Gas Cost
        th PPM Cost
        th Profit
        th ACTION
      each quote, i in quotes
        // for book in book
        tr(id='#{i}')
          td.id-cell #{i}
          td.origin-cell #{quote.origin}
          td.destination-cell #{quote.destination}
          td.price-cell #{quote.price}
          td.mpg-cell #{quote.mpg}
          td.distance-cell #{quote.distance}
          td.gasType-cell #{quote.gasType}
          td.ppm-cell #{quote.ppm}
          td.gallons-cell #{quote.gallons}
          td.gasCost-cell #{quote.gasCost}
          td.ppmCost-cell #{quote.ppmCost}
          td.totalCost-cell #{quote.totalCost}
          td
            // Trigger the modal with a button
            .btn-group-vertical
              button.btn.btn-info.dropdown-toggle.btn-block(type='button', data-toggle='dropdown')
                span.caret
              ul.dropdown-menu(role='menu')
                  li
                    button.edit-button.btn.btn-warning.btn-block(id='#{quote._id}', type='button', data-toggle='modal', data-row='#{i}', data-quote='#{quote.id}') Edit
                  li
                    button.delete-button.btn.btn-danger.btn-block(id='#{quote._id}', class='delete',data-row='#{i}', data-id='#{quote._id}') Delete PO: #{i}
block scripts
  script(type='text/javascript', src='/javascripts/timesheets.js')
