extends layout

block content 
    h1 Welcome to the Summary Quote Page!!
    p You are logged in as #{user.username}
    table#DataGrid.table
      tr
        th PO#
        th Origin
        th Delivery
        th Price
        th MPG
        th Distance
        th Gas Cost
        th PPM
        th Gallons
        th Gas Cost
        th PPM Cost
        th Profit
        th ACTION
      each quote, i in quotes
        // for book in book
        tr(id='#{id}')
          td.id-cell #{quote.id}
          td.origin-cell #{quote.origin}
          td.destination-cell #{quote.destination}
          td.price-cell #{quote.price}
          td.mpg-cell #{quote.mpg}
          td.distance-cell #{quote.distance}
          td.gasType-cell #{quote.gasType}
          td.ppm-cell #{quote.ppm}
          td.gallons-cell #{quote.gallons}
          td.gasCost-cell #{quote.gasCost}
          td.ppmCost-cell #{quote.ppmCost}
          td.totalCost-cell #{quote.totalCost}
          td
            // Trigger the modal with a button
            .btn-group-vertical
              button.btn.btn-info.dropdown-toggle.btn-block(type='button', data-toggle='dropdown')
                span.caret
              ul.dropdown-menu(role='menu')
                form.form-horizontal(action='QuoteServlet', method='post', role='form')
                  li
                    button.edit-button.btn.btn-warning.btn-block(id='#{quote.id}', type='button', data-toggle='modal', data-target='#editForm') Edit
                  input(type='hidden', name='formType', value='delete')
                  input#delete-field(type='hidden', name='id', value='#{quote.id}')
                  li
                    button.delete-button.btn.btn-danger.btn-block(id='#{quote.id}', type='Submit') Delete PO: #{quote.id}
                form.form-horizontal(action='mapCreate', method='post', role='form')
                  input(type='hidden', name='formType', value='quote')
                  input(type='hidden', name='id', value='#{quote.id}')
                  input(type='hidden', name='origin', value='#{quote.origin}')
                  input(type='hidden', name='destination', value='#{quote.destination}')
                  input(type='hidden', name='price', value='#{quote.price}')
                  input(type='hidden', name='mpg', value='#{quote.mpg}')
                  input(type='hidden', name='distance', value='#{quote.distance}')
                  input(type='hidden', name='gasType', value='#{quote.gasType}')
                  input(type='hidden', name='ppm', value='#{quote.gallons}')
                  input(type='hidden', name='gasCost', value='#{quote.gasCost}')
                  input(type='hidden', name='ppmCost', value='#{quote.ppmCost}')
                  input(type='hidden', name='totalCost', value='#{quote.totalCost}')
                  li
                    button.btn.btn-primary.btn-block(type='submit', name='action', value='makeQuote') Quote
      tr.success
        td Total OR Average
        td  
        td  
        td  
        td  
        td  
        td  
        td  
        td  
        td  
        td  
        td  
    // Modal
    #editForm.modal.fade(role='dialog')
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h4.modal-title Modal Header
          .modal-body
            .form-group
              form.form-horizontal(action='QuoteServlet', method='post', role='form')
                .row
                  input(type='hidden', name='formType', value='edit')
                  input#id-field(type='hidden', name='id')
                  .col-md-12
                    label Origin
                    input#origin-field.form-control(type='text', name='origin')
                    br
                    label Destination
                    input#destination-field.form-control(type='text', name='destination')
                    br
                    label Price
                    input#price-field.form-control(type='text', name='price')
                    br
                    label MPG
                    input#mpg-field.form-control(type='text', name='mpg')
                    br
                    label Distance
                    input#distance-field.form-control(type='text', name='distance')
                    br
                    label Gas Price
                    input#gasType-field.form-control(type='text', name='gasType')
                    br
                    label PPM
                    input#ppm-field.form-control(type='text', name='ppm')
                    br
                    label Gallons
                    input#gallons-field.form-control(type='text', name='gallons')
                    br
                    label Gas Cost
                    input#gasCost-field.form-control(type='text', name='gasCost')
                    br
                    label PPM Cost
                    input#ppmCost-field.form-control(type='text', name='ppmCost')
                    br
                    label Total Cost
                    input#totalCost-field.form-control(type='text', name='totalCost')
                    br
                input.btn.btn-primary.btn-block(type='submit')
          .modal-footer
            button.btn.btn-danger.btn-block(type='button', data-dismiss='modal') Close
  script.
    //id, origin,  destination,  price,  mpg, distance,  gasType,  ppm,  gallons,  gasCost, ppmCost, totalCost
    $(document).ready(function() {
    // alert("hi!");
    $(".edit-button").click(function(){
    var $id = $(this).attr("id");
    var $tableRow = $(this).closest("tr");
    //alert($tableRow.children(".firstname-cell").text());
    var $origin = $tableRow.children(".origin-cell").text();
    var $destination = $tableRow.children(".destination-cell").text();
    var $price = $tableRow.children(".price-cell").text();
    var $mpg = $tableRow.children(".mpg-cell").text();
    var $distance = $tableRow.children(".distance-cell").text();
    var $gasType = $tableRow.children(".gasType-cell").text();
    var $ppm = $tableRow.children(".ppm-cell").text();
    var $gallons = $tableRow.children(".gallons-cell").text();
    var $gasCost = $tableRow.children(".gasCost-cell").text();
    var $ppmCost = $tableRow.children(".ppmCost-cell").text();
    var $totalCost = $tableRow.children(".totalCost-cell").text();
    // set the form input values
    $("#id-field").val($id);
    $("#origin-field").val($origin);
    $("#distance-field").val($distance);
    $("#destination-field").val($destination);
    $("#price-field").val($price);
    $("#mpg-field").val($mpg);
    $("#distance-field").val($distance);
    $("#gasType-field").val($gasType);
    $("#ppm-field").val($ppm);
    $("#gallons-field").val($gallons);
    $("#ppmCost-field").val($ppmCost);
    $("#gasCost-field").val($gasCost);
    $("#totalCost-field").val($totalCost);
    });
    var c3Total = 0;
    var c4Total = 0;
    var c5Total = 0;
    var c6Total = 0;
    var c7Total = 0;
    var c8Total = 0;
    var c9Total = 0;
    var c10Total = 0;
    var c11Total = 0;
    var c12Total = 0;
    var $count = 0;
    $("tr").find("td").each(function(){
    var curVal = parseFloat($(this).text());
    if(!isNaN(curVal)){
    $count = $count + 1;
    if($(this).index() == 3){
    c3Total += parseFloat($(this).text());
    }
    else if($(this).index() == 4){
    c4Total += parseFloat($(this).text());
    }
    else if($(this).index() == 5){
    c5Total += parseFloat($(this).text());
    }
    else if($(this).index() == 6){
    c6Total += parseFloat($(this).text());
    }
    else if($(this).index() == 7){
    c7Total += parseFloat($(this).text());
    }
    else if($(this).index() == 8){
    c8Total += parseFloat($(this).text());
    }
    else if($(this).index() == 9){
    c9Total += parseFloat($(this).text());
    }
    else if($(this).index() == 10){
    c10Total += parseFloat($(this).text());
    }
    else if($(this).index() == 11){
    c11Total += parseFloat($(this).text());
    }
    else if($(this).index() == 12){
    c12Total += parseFloat($(this).text());
    }
    }
    });
    $count = $count/10;   //10 rows divide to find number of elements
    $("#DataGrid tr:last td:eq(2)").text($count.toFixed(2) );
    $("#DataGrid tr:last td:eq(3)").text(c3Total.toFixed(2) );
    $("#DataGrid tr:last td:eq(4)").text((c4Total/ $count).toFixed(2) );
    $("#DataGrid tr:last td:eq(5)").text(c5Total.toFixed(2) );
    $("#DataGrid tr:last td:eq(6)").text((c6Total/ $count).toFixed(2) );
    $("#DataGrid tr:last td:eq(7)").text((c7Total/ $count).toFixed(2) );
    $("#DataGrid tr:last td:eq(8)").text(c8Total.toFixed(2) );
    $("#DataGrid tr:last td:eq(9)").text(c9Total.toFixed(2) );
    $("#DataGrid tr:last td:eq(10)").text(c10Total.toFixed(2) );
    $("#DataGrid tr:last td:eq(11)").text(c11Total.toFixed(2) );
    $("#DataGrid tr:last td:eq(12)").text(c12Total.toFixed(2) );
    // $('#DataGrid').sumtr({sumCells : '.totalCost-cell'});
    });
